.custom-bg {
    background-color: #0a0647;
    /* Your desired color */
}

.container-fluid {
    color: rgb(255, 255, 255);
    height: 300px;
    width: 80%;
}


.fontstyle1{
  -webkit-text-fill-color: #010008;
  -webkit-text-stroke-width:1px;
}
.font {
    font-family: Helvetica;
    font-size: 10px;

}

form {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.F1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.f2 {
    font-size: 10px;
}

.border-animation {
    animation: border-glow 1.5s ease-in-out infinite alternate;
    border: 5px solid transparent;
    /* Transparent border initially */
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.1;
    }
}
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  :root {
    --clr-1: #ffffff;
    --clr-2: #c8dadc;
    --clr-3: #e6eeee;
    --clr-4: #7c7f7e;
    --clr-5: #060139;
  }
  

  
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
  }
  
  .card::after {
    filter: blur(3.5rem);
  }
  
  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  